.commentContainer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.comment{
  background-color: #E9EBEE;
  border-radius: 20px;
  padding: 15px;
  width: 80%;
  margin-left: 15px;
}

#avatar{
  border-radius: 50%;
  width: 50px;
}
span{
  font-size: 16px;
  font-weight: bold;
}

p{
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
}
