div.postContainer{
  padding: 20px; 
  display: flex;
  flex-direction: column;
 }

 div.postContainer div.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 660px;
}

div.postContainer div.content img#authorAvatar{
  height: 52px;
  width: 52px;
  border-radius: 50%;

}

div.postContainer div.content div.postInfo{
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

div.postContainer div.content div.postInfo span#authorName{
  font-size: 15px;
  font-weight: bold;
}

div.postContainer div.content div.postInfo span#postDate{
  font-size: 12px;
}

div.postContainer p{
  font-size: 14px;
  width: 660px;
  margin: 30px 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: justify;
}

div.postContainer hr{
  width: 660px;
  opacity: 0.5;
}